<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-dark text-white text-center"><h2>Welcome to Hotel Reservation Portal</h2></div>
      <div class="card-body">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
               <div class="div">
                <button class="btn btn-outline-primary" [routerLink]="['/new']">Add a new Reservation</button>
               </div> <br>
               <div class="div">
                <button class="btn btn-outline-primary" [routerLink]="['/list']">Show All Reservations</button>
               </div>
            </div>
            <div class="col-4"></div>
        </div>
      </div>
    </div>
</div>

